@model IEnumerable<CCAPL.Models.Tables.Tributes>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(https://images.unsplash.com/photo-1593362831502-5c3ad1c05f57?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80)">
    <div class="col-12">
        <h1>Carroll County</h1> 
        <h1>Animal Protection League</h1>
        <p class="lead" style="font-display: block; align-content: center">Memorial Book</p>
        <p>Browse all the donations</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>memorials go here</p>
    </div>
    <div class="row">
        @if(Model != null && Model.Any())
        { 
            foreach (var tribute in Model)
            {
                if (tribute.CreatedDate.Month == DateTime.Now.Month && tribute.CreatedDate.Year == DateTime.Now.Year)
                {
                <h2>@tribute.CreatedDate.Month, @tribute.CreatedDate.Year</h2>
                }
            <div class="col-md-4">
                <p class="memorial"><strong>@tribute.TributeMessage</strong></p>
                <p class="memorial">@tribute.CreatedDate</p>
                <p class="memorial">@Html.ActionLink("view details", "Details", "Admin", new { id = tribute.TributeId }, null)</p>
            </div>
            }
        }
        else
        {
            <p>There are no tributes to display currently. Please check back later.</p>
        }
    </div>
</div>