@model EmailAppV2.Models.EmailViewModel

<div class="jumbotron">
    <h1>Client Name</h1>
    <p class="lead">Client, you may send emails from this interface.</p>
</div>
<div class="container">
    <div class="col-md-12">
        <h2>Input email details</h2>
        @using (Html.BeginForm("SaveEmail", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmSaveEmail", role = "form" }))
        {
            @Html.ValidationSummary()
            <div class="form-group col-md-12">
                <div class="form-group">
                    <label for="recipient">Recipient:</label>
                    @Html.TextBoxFor(m => m.EmailLog.Recipient, new { @class = "form-control" })
                </div>
                @*//Here you could add lists from databases to add multiple recipients at once.
                    <div class="form-group col-md-6">
                        <label>Select Multiple Recipients</label>
                        @Html.ListBoxFor(m => m.Recipient.RecipientID, Model.Recipients, new { @class = "form-control" })
                    </div>*@
                <div class="form-group">
                    <label>CC:</label>
                    @Html.TextBoxFor(m => m.CarbonCopies, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>BCC:</label>
                    @Html.TextBoxFor(m => m.BlindCarbonCopies, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="subject">Subject:</label>
                    @Html.TextBoxFor(m => m.EmailLog.EmailSubject, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="body">Body:</label>
                    @Html.TextAreaFor(m => m.EmailLog.Body, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Reply To Email if different from sender:</label>
                    @Html.TextBoxFor(m => m.ReplyToEmail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Attachment:</label>
                    <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="sendBtn" @*onclick="sendEmail()"*@>Send</button>
        }
    </div>
</div>

@section scripts
{
    @* Idea to send it through an ajax call rather than through the form
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
                    $(document).ready(function () {
                        console.log('ready');
                        $('#frmSaveEmail').submit(function (e) {
                            send();
                            return false;
                        });
                    });
                    function send() {
                        var imagePath = '@Url.Content("~/Images/")';
                        var recipient = $.trim(('#recipient').val());
                        var subject = $.trim(('#subject').val());
                        var body = $.trim(('#body').val());

                        console.log(recipient)
                        $.ajax({
                            type: 'POST',
                            url: 'WebService1.asmx/SendEmail',
                            data: "{ recipient: '" + recipient + "', subject: '" + subject + "', body: '" + body + "' }",
                            contentType: "application/json; charset=utf-8",
                            success: function (results) {
                                alert('Email sent successfully.')
                            },
                            error: function () {
                                alert('Error sending email.')
                            },
                            failure: function (r) {
                                alert('Send failure');
                            }
                        });
                    }
                </script>*@
}